@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  overflow-x: hidden;
  color: #363949;
  background-color: #f6f6f9;
}
a {
  color: #363949;
}
img {
  display: block;
  object-fit: cover;
  width: 100%;
}
h2 {
  font-weight: 600;
  font-size: 1.4rem;
}

h3 {
  font-weight: 500;
  font-size: 0.87rem;
}

small {
  font-size: 0.76rem;
}
p {
  color: #677483;
}
b {
  color: #363949;
}
.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;

  grid-template-columns: 1fr 3fr 1fr;
}

.aside .toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.4rem;
}
.aside .toggle .logo {
  display: flex;
  gap: 0.5rem;
}
.aside .toggle .logo img {
  width: 2rem;
  height: 2rem;
  border-radius: 7px;
}
.aside .toggle .close {
  padding-right: 1rem;
  display: none;
}
.aside .sidebar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  border-radius: 15px;
  height: 88vh;

  top: 1.5rem;
  position: relative;
  transition: all 0.3s ease;
}
.aside .sidebar:hover {
  box-shadow: none;
}
.aside .sidebar a {
  display: flex;
  align-items: center;
  color: #7d8da1;
  height: 3.7rem;
  gap: 1rem;
  position: relative;
  margin-left: 2rem;
  transition: all 0.3s ease;
}
.aside .sidebar a span {
  font-size: 1.6rem;
  transition: all 0.3s ease;
}
.aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

.aside .sidebar a.active {
  width: 100%;
  color: #6c9bcf;
  background-color: rgba(132, 139, 200, 0.18);
  margin-left: 0;
}
.aside .sidebar a.active::before {
  content: "";
  width: 6px;
  height: 18px;
  background-color: #6c9bcf;
}
.aside .sidebar a.active span {
  color: #6c9bcf;
  margin-left: calc(1rem - 3px);
}
.aside .sidebar a:hover {
  color: #6c9bcf;
}
.aside .sidebar a:hover span {
  margin-left: 0.6rem;
}
.aside .sidebar .message-count {
  background-color: #ff0060;
  padding: 2px 6px;
  color: #fff;
  font-size: 11px;
  border-radius: 0.4rem;
}

.main {
  margin-top: 1.4rem;
}
.main h1 {
  text-align: center;
}

.main .analyse {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.main .analyse > div {
  background-color: #fff;
  padding: 1.8rem;
  border-radius: 2rem;
  height: 20rem;
  margin-top: 1rem;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  cursor: pointer;
  transition: 0.3s all ease;
}

.main .analyse > div:hover {
  box-shadow: none;
}

.main .analyse h3 {
  margin-left: 0.6rem;
  font-size: 1rem;
}

.main .analyse .progress {
  position: relative;
  height: 92px;
  width: 92px;
  border-radius: 50%;
}
.main .analyse svg {
  width: 17rem;
  height: 10rem;
}
.main .analyse svg circle {
  fill: none;
  stroke-width: 15;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

.main .analyse .sales svg circle {
  stroke: #1a8cbd;
  stroke-dashoffset: -30;
  stroke-dasharray: 0;
}
.main .analyse .spend svg circle {
  stroke: #39cb67;
  stroke-dashoffset: -30;
  stroke-dasharray: 148;
}
.main .analyse .remain svg circle {
  stroke: #e84f4f;
  stroke-dashoffset: -50;
  stroke-dasharray: 200;
}

.main .analyse .progress .percentage {
  position: absolute;
  top: 37px;
  left: 79px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.to-do {
  width: 45rem;
  margin-top: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  border-radius: 2rem;
  margin-left: 2rem;
  background-color: #fff;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  transition: all 0.3s ease;
}

.to-do ul {
  margin: 0;
  padding: 0;
}

.to-do ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

.to-do ul li:nth-child(odd) {
  background: #f9f9f9;
}

.to-do ul li:hover {
  background: #ddd;
}

.to-do ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.to-do ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #218cc9;
  color: white;
}

.header {
  background-color: #36a5f4;
  padding: 30px 40px;
  color: white;
  text-align: center;
  border-radius: 2rem;
}

.header h2 {
  padding-bottom: 1rem;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}

.main .header input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}

.calendar-container {
  background: #fff;
  width: 450px;
  border-radius: 10px;
  margin-top: 2rem;
  margin-left: 5rem;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  transition: all 0.3s ease;
  border-radius: 2rem;
}

.calendar-container .calendar-header {
  display: flex;
  border-radius: 2rem;
  background-color: #36a5f4;
  color: #eee;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}

.calendar-header .calendar-navigation {
  display: flex;
}

.calendar-header .calendar-navigation span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  user-select: none;
  color: #aeabab;
  font-size: 1.9rem;
}

.calendar-navigation span:last-child {
  margin-right: -10px;
}

.calendar-header .calendar-navigation span:hover {
  background: #f2f2f2;
  transition: all 0.3s ease;
}

.calendar-header .calendar-current-date {
  font-weight: 500;
  font-size: 1.45rem;
}

.calendar-body {
  padding: 20px;
}

.calendar-body ul {
  list-style: none;
  flex-wrap: wrap;
  display: flex;
  text-align: center;
}

.calendar-body .calendar-dates {
  margin-bottom: 20px;
}

.calendar-body li {
  width: calc(100% / 7);
  font-size: 1.07rem;
  color: #736a6a;
}

.calendar-header .calendar-current-date p {
  color: #eee;
}

.calendar-body .calendar-weekdays li {
  cursor: default;
  font-weight: 500;
  padding-left: 0;
}

.calendar-body .calendar-dates li {
  margin-top: 30px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.calendar-dates li.inactive {
  color: #aaa;
}

.calendar-dates li.active {
  color: #fff;
}

.calendar-dates li::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 40px;
  padding: 0;
  height: 40px;

  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
  background: #36a5f4;
}

.calendar-dates li:not(.active):hover::before {
  background: #e4e1e1;
  transition: all 0.3s ease;
}

.downward {
  display: flex;
}

/* Weather */

.app {
  margin-top: 10rem;
  margin-left: 2rem;
  background-color: #fff;
  height: 40rem;
  padding: 5rem;
  font-size: large;
  border-radius: 15px;
  box-shadow: 0 2rem 3rem rgba(132, 139, 200, 0.18);
  transition: all 0.3s ease;

  text-align: center;
}
.app:hover {
  box-shadow: none;
}
.app form {
  display: flex;
}
.cityInput {
  background-color: #f6f6f9;
  padding: 2rem;

  width: 10rem;
  height: 2rem;
  border: solid 2px hsla(0, 0%, 20%, 0.3);
}
.app button {
  font-size: bold;
  padding: 0.3rem;
  margin: 1rem;
  color: snow;
  height: 3rem;
  background-color: #36a5f4;
}
.app .card {
  padding: 2rem;
  display: flex;
  font-size: 1rem;
}
.app .card p {
  margin: 1rem;
}
.app p {
  margin: 1rem;
}
/* Default styles */

/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 3fr 1fr;
  }
 
  .aside {
    height: 100vh;
    grid-column: 1/2;
    grid-row: 1/3;
  }

  */ .aside .toggle {
    left: -100%;
    position: fixed;
    z-index: 3;
    display: inline-block;
    height: 100vh;
  }

  .aside .sidebar {
    position: fixed;
    margin-top: 5rem;
    height: 100%;
    
  }

  .aside .toggle {
    position: fixed;
    height: 2rem;
  }
  .header input {
    width: 60%; 
  }

  .aside .sidebar a:last-child {
    position: absolute;
    bottom: 5rem;
  }

  .aside .sidebar a {
    height: 10vh;
  }
  .logo h2 {
    padding-top: 2rem;
    font-size: 2rem;
  }
  .logo img {
    height: 2rem;
  }
  .aside .toggle .logo img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }

  .aside .sidebar a h3 {
    font-size: 1rem;
  }

  .to-do {
    width: 100%; 
    margin-left: 0;
    margin-right: 0; 
  }

  .calendar-container {
    width: 100%; 
    margin-left: 0; 
    margin-right: 0; 
  }
  .main {
   
    grid-row: 1/2;
    grid-column: 2/3;
    width: 70%;

    margin-left: 80px;
  }

  .main .analyse {
    grid-template-columns: 1fr;

    position: relative;
  }

  .main .analyse > div {
    width: 25rem;
    margin-left: 5rem;
  }
  .app {
    margin-top: 0;
    margin-left: 11rem;
  
    width: 70%;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .downward {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 5px;
    margin-left: 80px;
  }
}
